
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0 auto;
  color: black;
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: url("https://autotraveler.ru/ukraine/images/ukraine-road.jpg")
    no-repeat center center fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  background-size: cover;
}

.fa-map-marker-alt,
.fa-dot-circle {
  margin: 0 auto;
  color: #f00606;
  font-size: 2em;
  text-align: center;
}

/*Jumbotron*/

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.jumbotron h1 {
  letter-spacing: 2px;
  font-size: 2em;
}

@media only screen and (min-width: 600px) {
  .jumbotron h1 {
    letter-spacing: 2, 5px;
    font-size: 2, 5em;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron h1 {
    letter-spacing: 3px;
    font-size: 3em;
  }
}
.jumbotron p {
  letter-spacing: 1px;
  font-size: 1em;
}
@media only screen and (min-width: 600px) {
  .jumbotron p {
    letter-spacing: 1px;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron p {
    letter-spacing: 1.5px;
    font-size: 2em;
  }
}
.jumbotron h1,
.jumbotron p {
  text-align: center;
}
.container-header .header img {
  border-radius: 25px 25px 0px 0px;
}
.container-header #googleMap {
  border-radius: 0px 0px 25px 25px;
}
.header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header {
  height: 18vh;
  width: 100%;
}

/*map*/
#googleMap {
  height: 35vh;
  margin: 0 auto;
  box-shadow: 0 0 1px #222;
}

.swal2-shown {
  font-size: 0.5em;
  /* font-family: sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 0px 0px 0px 0px;
}
/*swal2 box*/
@media only screen and (min-width: 600px) {
  .swal2-shown {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    padding: 0px 0px 0px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .swal2-shown {
    font-size: 1em;
    padding: 0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
  }
}

/*output box*/
#output {
  background: aquamarine;
  margin: 20px auto;
  margin: 20px;
  text-align: center;
  color: black;
  font-size: 0, 5em;
  border-radius: 25px;
}
@media only screen and (min-width: 600px) {
  #output {
    background: aquamarine;
    text-align: center;
    color: black;
    font-size: 1em;
    border-radius: 25px;
    margin: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #output {
    background: aquamarine;
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 2em;
    border-radius: 25px;
  }
}
.form-horizontal {
  margin: 40px 0 0 0;
}
.alert-danger {
  border-radius: 5px;
  margin: 20px auto;
}

.voiceSearchButtonOrigin,
.voiceSearchButtonDestination {
  background: url(./Images/googlemic_clr_24px.svg) no-repeat center;
  background-size: auto;
  background-color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-overflow: ellipsis;
  height: 80%;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 16px;
  top: 5px;
  width: 35px;
  z-index: 2;
}
.voiceSearchButtonAnimate {
  background: url(./Images/mic-animate.gif) no-repeat center;
  background-size: 34px 34px;
  border-radius: 2px;
  background-color: white;
}
.form-control {
  height: 100%;
  position: relative;
}
.gm-style .gm-style-iw {
  padding: 0;
  margin: 0;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
}
