/*styling.css*/
/*add font family, background image*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: url("https://autotraveler.ru/ukraine/images/ukraine-road.jpg")
    no-repeat center center fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  background-size: cover;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #f00606;
  font-size: 2em;
  text-align: center;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 20px 40px 20px 40px;
}

.jumbotron h1 {
  letter-spacing: 2px;
  font-size: 2em;
}
@media only screen and (min-width: 600px) {
  .jumbotron h1 {
    letter-spacing: 2, 5px;
    font-size: 2, 5em;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron h1 {
    letter-spacing: 3px;
    font-size: 3em;
  }
}
.jumbotron p {
  letter-spacing: 1px;
  font-size: 1em;
}
@media only screen and (min-width: 600px) {
  .jumbotron p {
    letter-spacing: 1px;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron p {
    letter-spacing: 1.5px;
    font-size: 2.0em;
  }
}
.jumbotron h1,
.jumbotron p {
  text-align: center;
}

/*map*/
#googleMap {
  height: 100px;
  margin: 20px auto;
}
@media only screen and (min-width: 600px) {
  #googleMap {
    height: 200px;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 768px) {
  #googleMap {
    height: 200px;
    margin: 20px auto;
  }
}
/*output box*/
#output {
  background: aquamarine;
  text-align: center;
  color: black;
  font-size: 0, 5em;
  border-radius: 25px;
}
@media only screen and (min-width: 600px) {
  #output {
    background: aquamarine;
    text-align: center;
    color: black;
    font-size: 1em;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 768px) {
  #output {
    background: aquamarine;
    text-align: center;
    color: black;
    font-size: 2em;
    border-radius: 25px;
  }
}
.btn {
  margin: 20px auto;
  height: 40px;
  width: 100%;
}
.voiceSearchButtonOrigin,
.voiceSearchButtonDestination {
  background: url(./Images/googlemic_clr_24px.svg) no-repeat center;
  width: 34px;
  heght: 34px;
  background-size: 32px 32px;
  background-color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 15px;
  top: 5px;
  width: 35px;
  z-index: 2;
}
.voiceSearchButtonAnimate {
  background: url(./Images/mic-animate.gif) no-repeat center;
  background-size: 34px 34px;
  border-radius: 2px;
  background-color: white;
}
.form-control {
  height: 100%;
  position: relative;
}
